@import '../../assets/styles/config';

.bar {
  background-color: $color-cultured;
  border-radius: $global-radius;
  font-size: 14px;
  font-weight: $font-weight-bold;
  margin-bottom: 20px;
  padding: 10px;
  text-align: right;
  width: 100%;
}
